/* =Post
===================================================== */

// Post
//
// Post entry
//
// Markup: post.html
//
// Style guide: 6.post

.post {

  @include clearfix();

  margin-bottom: $unit-default;
  padding-bottom: $unit-default;
  border-bottom: rem(2) solid $color-border-normal;

}

.entry-content {

  @include clearfix();

}

.entry-title {

  font-size: ms(4);
  line-height: 1;

  margin-bottom: $unit-default;

  a {

    &:hover,
    &:focus,
    &:active {

      text-decoration: none;

    }

  }

}

.entry-meta {

  margin-bottom: $unit-s;
  font-size: em(15);

  a {

    color: $local-ash;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

  .updated {

    display: none;

  }

  .published {

    display: inline;

  }

  .byline {
    display: none;
  }

}

.entry-footer,
.post-navigation {

  display: none;

}